.fourteen.columns.offset-by-one
  %img{src: "assets/Front-Page.jpg", class: "url", style: "width: 100%"}
.fourteen.columns.offset-by-two
  #quote
    Don't let the right price slip by at Bloomingdales
    %button.btn Download onclick= "location.href='https://chrome.google.com/webstore/detail/bcatcher/geihceklicaflemdjjdhiepfpihklhno';"
.fourteen.columns.offset-by-one
  #instruction
  %br
  Click the extension when you're on the desired item || Enter required price || Receive an email if the price is right :)
